@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ravn";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        iframe {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <img src="https://6.viki.io/image/509388420a594870941d03e737aa4ebe.jpeg?s=900x600&e=t" alt="Ravn" style="width:100%">
    <p>[RAVN] Concept photo for Twilight era</p>
    <h1>Ravn</h1>
    <p>Kim Young-Jo" (Hangul: 김영조); also known by his stage name "Ravn" (Hangul: 레이븐) is a South Korean singer, rapper and dancer under RBW Entertainment.</p>
    <p>Ravn debuted as a member of ONEUS in 2019. He is a producer and the Lead Rapper in ONEUS.</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/B-XDfV6rU9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>&nbsp;</p>

    <h2>Perfil</h2>

    <ul>
        <li>Artistic Name: 레이븐 / Ravn</li>
        <li>
            Real Name: 김영조 / Kim Young Jo
        </li>
        <li>Birthdate: 02/09/1995 (dd/mm/yyyy)</li>
        <li>Birth Place: Seoul, South Korea</li>
        <li>Occupation: Rapper, singer, songwriter, producer</li>
        <li>Years Active: 2018-present</li>
        <li>Height: 179 cm</li>
        <li>Zodiac sign: Virgo</li>
        <li>Agency: Rainbow Bridge World</li>
    </ul>
    <h2>Movies</h2>
    <p>AMORTENTIA (2019) --> short film</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/s3HmkhrULT8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Tv Programs</h2>
    <p>MIXNINE (jTBC, 2017)</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/_sAT0TChrxI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Radio Programs</h2>
    <ul>
        <li>Cultwo Show (SBS, 31.01.2021, with Xion and Keonhee)</li>
    </ul>
    <h2>Music Videos Appearances</h2>
    <p>Jin Ju - Petal (2018)</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/84gKfh8DuMY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>MAMAMOO - Everyday (2018)</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/LbWt67vVNgc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Ads</h2>
    <ul>
        <li>2018: LG시네빔 laser 4K</li>
    </ul>
    <h2>Curiosities</h2>
    <ul>
        <li>He is part of the korean group Oneus (rapper, vocalist and dancer)</li>
        <li>He is an ex-trainee of both JYP Entertainment and YG Entertainment</li>
        <li>He was about to debut with Victon but he abandonded de company</li>
        <li>He participated in the survival show MIXNINE and was eliminated in episode 13 </li>
        <li>He alwats says "ra spit out flame" before rapping</li>
        <li>He has a dog named Sunny</li>
        <li> <a href="https://soundcloud.com/pls9ravn" target="_blank">He has a soundcloud account </a></li>

    </ul>
</body>
</html>
