@{
    ViewData["Title"] = "About me";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>

    <p>
        Hello! My name is Mari and I'am the creator of this webapp. I'm currently a computer science student and therefore I don't have enough expierience
        to make a super perfect app but I'm on my way there. Please kindly contact me if any of this options applies to you:
        <ul>
            <li>You have any suggestion or question regarding the app</li>
            <li>if any of the videos or images in this app are yours and you don't want it to be there or you have any problem with the credits</li>
            <li>if You see any grammatical error (sorry I have dyslexia)</li>
            </ul>
    </p>

    <p>HOW TO CONTACT ME</p>
    <ul>
        <li>Mariama51@hotmail.es</li>
        <li>
            <a href="https://www.instagram.com/chaosinmarii/" target="_blank" > https://www.instagram.com/chaosinmarii/ </a>
        </li>
        <li>
            <a href="https://twitter.com/chaosinmarii" target="_blank" > https://twitter.com/chaosinmarii </a>
        </li>
    </ul>
    <p>TYSM FOR VISITING THE WEBAPP AND HAVE A NICE DAY!</p>

</body>
</html>