@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Fancafe Tutorial";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>What's Daum Café?</h1>
    <p>It's an app where celebrities/idols post their thoughs and share private pictures and messages for their fans. Fans there can also send messages to their faves.</p>
    <h1>How to LEVEL UP</h1>
    <p>Before starting the tutorial, I'm assuming you already have a Daum Café Account and joined the cafe.</p>
    <p>Please bear in mind that this is a tutorial on how to LEVEL UP on fancafé, not how to join</p>
    <p>Enter to Daum Café and search for Oneus or click the link below to go directly</p>
    <ul>
        <li><a href="https://cafe.daum.net/RBWBOYZ" target="_blank"> https://cafe.daum.net/RBWBOYZ </a></li>
    </ul>
    <p>Just click where the circle indicates</p>
    <img src="https://drive.google.com/uc?export=view&id=1-oNQA9S0Tiv-4ptAMsEWjD01X2t4cExa" alt="Screenshot1" style="width:40%">
    <p>&nbsp;</p>

    <img src="https://drive.google.com/uc?export=view&id=1nCwcd-otL4EQ90eDfOVc4r26mv1bMz_K" alt="Screenshot2" style="width:40%">
    <p>&nbsp;</p>

    <p>Please make sure that all the options are the same as the pic because its compulsory in order to level up to receive message and have the managers options</p>
    <p>&nbsp;</p>

    <img src="https://drive.google.com/uc?export=view&id=1gK7G_XwVL6y4-lefYCQDgVqdZGf1dU41" alt="Screenshot3" style="width:40%">
    <p>&nbsp;</p>

    <p>Please Go back where you were before and look at the next pic</p>
    <p>&nbsp;</p>

    <p>TRANSLATION</p>
    <ol>
        <li>level up (M/W/F): where you apply for your level up only on Mondays, Wednesdays and Fridays</li>
        <li>level up (T/TH/S): where you apply for your level up only on Tuesdays, Thursdays and weekends</li>
        <li>level up complete: where your application for level up ends up if its accepted, don't worry because you will get a notification wheter is accepter or not</li>
        <li>level up return: where your application for levelling up ends up if its rejected because yo gave a wrong answer or didn't follow the format required. Usually STAFF tell you what you did wrong, so dont worry correct your mistake and apply again</li>
    </ol>
    <p>Depending on the day of the week you are applying you are going to click on the first or second option shown in the pic</p>
    <img src="https://drive.google.com/uc?export=view&id=1hprJUFiR4P5p39LttCXqc6o81-v4ZLDK" alt="Screenshot4" style="width:40%">
    <p>&nbsp;</p>

    <p>This are the questions you have to apply for levelling up</p>
    <p>Write a post with your answers and REMEMBER TO PUT YOUR POST IN SECRET (click on the lock), it's compulsory</p>
    <img src="https://drive.google.com/uc?export=view&id=1Sc3UQn73EF_3PfOXOYU4ljJO_vjCIcah" alt="Screenshot4" style="width:40%">
    <p>&nbsp;</p>
    <p>TRANSLATION</p>
    <p>I tried to translate the picture with <a href="https://papago.naver.com/">papago</a> but it's not very accurate in some parts, I actually got the accurate translation thanks to this amazing <a href="https://oneus-trans.tumblr.com/" target="_blank">https://oneus-trans.tumblr.com/</a>  </p>
    <ol>
        <li>DAUM ID / FANCAFE NICKNAME / FULL NAME / BIRTHDAY / GENDER</li>
        <li>Please write down the names and birthdays of the ONEUS members by order</li>
        <li>Please write down ONEUS’s debut date (YY/MM/DD)</li>
        <li>Please name the fruits the members were dressed up as on the ‘Twilight’ Special Choreography video in order of their age.  </li>
        <li>Name one of the tracks from ‘IN ITS TIME’ aside from the title song.</li>
    </ol>
    <p>You can write the application in Korean or English</p>
    <p>You can put their stage names or real name as long as there is consistence</p>
    <p>Please bear in mind that if you don't follow the steps ans respect the format of the answers properly, STAFF will reject it period.</p>
    <p>This process is very fast beacuse usually there isn't a lot of applications so it will take 1 day or so unless you apply on the weekend (they only look at applications on weekdays)</p>
    <p>I leave this here to help you write the level up application</p>
<textarea rows="5" cols="150">
1. DAUM ID / NICKNAME / FULL NAME  / YYYY MM DD / GENDER
2. XXXX YYYY MM DD /...
3. YY/MM/DD
4. xxxx / ...
5. 
  </textarea>

    <button onclick="myFunction()">Copy text</button>

    <script>function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }</script>
</body>
</html>

