@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hongjoong";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        iframe {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <img src="https://6.viki.io/image/bbbbb731483040ae8dc88c709d1a290d.jpeg?s=900x600&e=t" alt="Hongjoong" style="width:100%">
    <p>[HONGJOONG] Concept photo from Wonderland Era</p>
    <h1>Hongjoong</h1>
    <p>Hongjoong (Hangul: 홍중) born on November 7th, 1998, is the leader, rapper, and composer of the South Korean boy band ATEEZ.</p>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/LheKvnLFdK8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>&nbsp;</p>
    <h2>Perfil</h2>

    <ul>
        <li>Stage Name: Hongjoong (Hangul: 홍중; Japanese: ホンジュン)</li>
        <li>
            Name: Kim Hong Joong (Hangul: 김홍중; Hanja: 金洪中)
        </li>
        <li>
            Name Meaning: "to be the center of the wide world"
            <ul>
                <li>金 (김/Kim) means "gold" and is a common surname.</li>
                <li>洪 (홍/Hong) means "wide"</li>
                <li>中 (중/Joong) means "center"</li>
            </ul>
        </li>
        <li>Birthdate: 07/11/1998 (dd/mm/yyyy)</li>
        <li>Birthplace: Anyang, Gyeonggi-do, South Korea</li>
        <li>Occupation: Leader, Main Rapper, Composer</li>
        <li>Years Active: 2018-present</li>
        <li>Height: 172 cm</li>
        <li>Zodiac sign: Scorpio</li>
        <li>Agency: KQ Entertainment</li>
    </ul>
    <h2>Tv Programs</h2>
    <ul>
        <li>MIXNINE (jTBC, 2017)</li>
    </ul>
    <h2>Cover Songs (Playlist)</h2>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/videoseries?list=PLDiKW_HFR1EpDAEd3v9lXCEKi0WyGAo73" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>&nbsp;</p>

    <h2>Curiosities</h2>
    <ul>
        <li>He is part of the korean group ATEEZ (rapper, leader and dancer)</li>
        <li>He is a compositor since high school</li>
        <li>He was the first trainee at KQ Entertainment</li>
        <li>He participated in the survival show MIXNINE and was eliminated in episode 10 </li>
        <li>He alwats laughs cutely before rapping</li>

    </ul>
</body>
</html>
